/*__________________________________________________________________________ Reset        */
/** html5doctor.com Reset Stylesheet v1.6.1 (http: //html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http: //richclarkdesign.com) * http: //cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ffff99; color: black; text-decoration: none; }

mark { background-color: #ffff99; color: black; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

img { display: block; }

/*__________________________________________________________________________ Basic        */
html, body { width: 100%; height: 100%; }

.wrapper { width: 100%; height: 100%; }

body { color: black; font-family: "Roboto"; font-size: 18px; line-height: 25px; font-weight: 400; background-color: #f4f4f4; }

.container { display: block; width: 1150px; padding: 0 25px; margin: 0 auto; text-align: left; }

a:focus, a:active, input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active { outline: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #363636; font-family: "Roboto"; margin-bottom: 25px; font-weight: 600; }

h1, .h1 { font-size: 60px; line-height: 70px; }

h2, .h2 { font-size: 23px; line-height: 34px; }

h3, .h3 { font-size: 20px; line-height: 30px; }

h4, .h4 { font-size: 18px; line-height: 24px; }

h5, .h5 { font-size: 17px; line-height: 22px; }

h6, .h6 { font-size: 16px; line-height: 20px; }

a { color: black; transition: color 0.4s ease; -o-transition: color 0.4s ease; -ms-transition: color 0.4s ease; -moz-transition: color 0.4s ease; -webkit-transition: color 0.4s ease; }
a:hover { text-decoration: none; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:before, .clearfix:after { clear: both; }

.align-right { float: right; margin: 0 0 15px 20px !important; }

.align-left { float: left; margin: 0 20px 15px 0 !important; }

.align-center { display: block; text-align: center; }

.hr { display: block; width: 100%; height: 1px; background-color: #e5e5e5; margin: 70px 0 60px; }

.hide { display: none; }

/*__________________________________________________________________________ Buttons        */
.btn { display: inline-block; padding: 21px 30px; line-height: 1; text-decoration: none; text-transform: uppercase; }

/*__________________________________________________________________________ Header        */
.hidden { opacity: 0; }

.visible { opacity: 1; }

.block_1 { position: relative; z-index: 5; height: 1755px; overflow: hidden; background-color: white; }

.block_2 { position: relative; z-index: 2; height: 1225px; background: #b6b6b6; }

.block_3 { position: relative; z-index: 2; background-color: white; }

.footer { position: relative; padding: 100px 0; z-index: 2; background-color: #f4f4f4; }
.footer .container { text-align: center; }

.slider { margin-top: 220px; position: relative; }
.slider .layer_1, .slider .layer_2, .slider .layer_3, .slider .layer_4 { position: absolute; width: 255px; height: 357px; -ms-transform: skewY(20deg); -webkit-transform: skewY(20deg); transform: skewY(20deg); background: url("../img/slider/bg.png") no-repeat top center; }
.slider .layer_1 img, .slider .layer_2 img, .slider .layer_3 img, .slider .layer_4 img { width: 255px; height: 357px; }
.slider .layer_1 { top: -120px; left: 450px; z-index: 2; }
.slider .layer_2 { top: -80px; left: 300px; z-index: 3; }
.slider .layer_3 { top: -40px; left: 150px; z-index: 4; }
.slider .layer_4 { top: 0; left: 0; z-index: 5; }
.slider .lines { position: absolute; z-index: 1; width: 1255px; height: 297px; top: 141px; left: -235px; background: url("../img/slider/lines.png") no-repeat top center; }
